body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fc1e8a;
    user-select: none;
}

.container{
    position: relative;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: linear-gradient(325deg, #03001e 0%, #7303c0 30%, #ec38bc 70%, #fdeff9 100%);
}

h2{
    font-size: 3em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.reset-game{
    padding: 15px 20px;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    border: none;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    cursor: pointer;
}

.reset-game:focus{
    color: #ffffff;
    background-color: #7303c0;
}

.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d; /* PENDENTE: ver isso */
    perspective: 500px; /* PENDENTE: ver isso */
}

.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    
    font-size: 3em;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item::after{
    content: '';
    position: absolute;
    inset: 0; /* PENDENTE: ver isso */
    background-color: #404040;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden; /* PENDENTE: ver isso */
    /* opacity: 0.85;  */
}

.item.boxOpen{
    transform: rotateY(0deg);
}

.boxOpen::after, .boxMatch::after{
    transform: rotateY(180deg);
}