:root{
    --cor00: darkred;
    --cor01: #07038C;
    --cor02: #020873;
    --cor03: #020659;
    --cor04: #010440;
    --cor05: #010326;

}


/* Configurando o body */
body{
    background-image: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

/* Configurando Elementos */
h1{
    text-align: center;
    
}

p{
    text-align: justify;
}

/* Configurando Header */
header{
    background-image: linear-gradient(180deg, #010326, #07038C);
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px white;
    margin: 0px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Configurando Header > Nav */
nav#menu_cabecalho{
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
}
nav#menu_cabecalho > a{
    color: black;
    text-decoration: none;  
    font-size: 1.5em;
    margin: 0px 5px;
    display: inline-block;
}
nav#menu_cabecalho > a:hover{
    color: #07038C;
    text-decoration: underline;
}
nav#menu_cabecalho > a::before{
    content: '• ';
}
nav#menu_cabecalho > p{ /* Temporário */
    text-align: center;
}

/* Configurando Conteúdo Principal */
main{
    background-color: white;
    border: 2px solid black;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    max-width: 1000px;
    min-height: 642px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.link_menu{
    color: white;
}
/* Outra forma de fazer isto seria usando as element child e parent  
nav > ul > li > p > a{color: white;}*/

/* Configurando o Footer/Rodapé */
footer{
    background-image: linear-gradient(180deg, #07038C, #010326); 
    padding: 20px;
    color: white;
    text-align: center;
} 

footer > p{
    text-align: center;
}

footer > p > a{
    color: white;
}

footer

/* Configurando Table */
table{
    border: 1px solid black;
}

th{
    background-color: rgba(128, 128, 128, 0.503);
}

td{
    border: 1px solid black;
}

caption{
    background-color: black;
    color: white;
}

button#corfundo{
    width: 200px;
    height: 200px;
    font-size: 20pt;
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    background-image: linear-gradient(to top, darkred, red);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*
Não sei se isso que estou fazendo é certo, provávelmente não, no futuro eu faço da forma correta
*/

.cores{
    width: 100px;
    height: 200px;
    border: black;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: -5px;
}
/* Para mostrar um id específico no css, devo usar o "#" */
#oxford_blue{background-color: var(--cor05);}
#penn_blue{background-color: var(--cor04);}
#federal_blue{ background-color: var(--cor03);}
#navy_blue{background-color: var(--cor02);}
#ultramarine{background-color: var(--cor01);}

section{
    border: 1px solid black;
    min-width: 350px;
    max-width: max-content;
    padding: 10px;
    margin: auto;
}

.soma{
    width: 100px;
}

