@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    --backgroundColor: rgb(149, 255, 143);
    --importedFont: 'Patrick Hand', Arial, Helvetica, sans-serif;
    --timerFont: 'Roboto Mono', monospace;

    --fontSize: 1rem;

    --color01: #D93030;
    --color02: #A62E38;
    --color03: #8C0303;
    --color04: #86e381;
    --color05: #008000;

    --smallPadding: 10px;
}

body{
    background-color: var(--backgroundColor);
    font-family: var(--importedFont);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    justify-items: center;
    align-items: center;
    user-select: none;
}

/* Estilização do menu de configuração*/
#show-settings{
    display: none;
}

.settings{
    height: 100%; 
    width: 66px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    z-index: 4;
    background-color: var(--color01);
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: 0.4s;
    font-size: 1.3rem;
    box-shadow: 5px 0 5px hsla(0, 0%, 0%, 0.3);
}

.settings:hover{
    width: 350px;
}

.settings h2{
    text-align: center;
}

.settings ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
    align-items: center;
    justify-items: left;
}

.menu-item img{
    width: 46px;
    height: 46px;
}

@media only screen and (max-width: 500px) {
    .settings{
        height: fit-content; 
        width: fit-content;
        position: absolute;
        transition: 0.5s;
        transform: translate(-100%) scale(0);
    }

    .settings:hover{
       width: fit-content;
    }

    .active{
        top: 10px;
        left: 50%;
        transform: translate(-50%);
    }

    #show-settings{
        content: url('../svg/list.svg');
        width: 46px;
        height: 46px;
        display: block;
        position: absolute;
        top: 10px;
        left: 10px;
    }
  
}

/* Estilização de Inputs */
.label-text{
    width: max-content;
}

.switch{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider::before{
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%; 
}

input[type="checkbox"]:checked + .slider{
    background-color: var(--color04);
}

input[type="checkbox"]:checked + .slider::before{
    transform: translateX(26px);
}

.container-input-number{
    display: flex;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  appearance: none; /* Pendente, ver isso */
  margin: 0;
}

.container-input-number{
    display: flex;
}

.container-input-number button{
    width: 30px;
    height: 30px;
    background-color: var(--color04);
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
}

.container-input-number input[type="number"]{
    width: 40px;
    font-size: 1.3rem;
    text-align: center;
    border: none;
}

/* Estilização do conteúdo principal */
h1{
    grid-column: 2;
    font-size: 4em;
    z-index: 3;
}

.timer-container{
    grid-column: 2;
    z-index: 3;
    width: 100%;
    min-height: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ffffff;
    outline: 1px solid #ffffff;
    outline-offset: 2px;
    border-radius: 10px;
    padding: 10px;
}

.timer-container h2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 2em;
}

.timer-container p{
    font-size: 6em;
    text-align: center;
}

.buttons{
    grid-column: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    z-index: 3;
    width: 100%;
    margin-top: 40px ;
}

#timer{
    font-family: var(--timerFont);
}

.set-timer{
    display: block;
    flex: 1 0 200px;
    max-width: 300px;
    
    color: #ffffff;
    background-color: var(--color02);
    font-size: 2em;

    border: 1px solid #ffffff;
    outline: 1px solid #ffffff;
    outline-offset: 2px;
    border-radius: 10px;
    padding: 20px;

    transition: 0.3s;
    cursor: pointer;
}

.set-timer:hover{
    background-color: var(--color03);
}

/* Estilização das notas de usuários*/
.container-notes{
    grid-column: 1/-1;
    background-color: var(--color01);
    padding: var(--smallPadding);
    width: 70%;
    margin: 40px 40px;
    border-radius: 10px;
    z-index: 2;
}

.container-notes h2{
    text-align: center;
    margin-bottom: var(--smallPadding);
}

.user-notes{
    background-color: #fff;
    width: 100%;
    min-height: 2rem;
    margin: 0;
    padding: 0 var(--smallPadding);
    list-style: none;
    border-radius: 5px;
}

.item-note, #add-item-note{
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    width: 100%;
    align-items: center;
    font-size: 1.5rem;
    min-height: 2rem;
    border-bottom:.1rem solid #eeeeee;
}

.button-note{
    width: 20px;
    height: 20px;
    background-color: #ffffff80;
    border-radius: 5px;
    font-weight: bolder;
    text-align: center;
    cursor: pointer;
}

.button-note:hover{
    background-color: #d8d8d880;
}

.input-note{
    font-family: var(--importedFont);
    border: none;
    font-size: 1.5rem;
    width: 100%;
    background-color: transparent;
}

.input-note:focus{
    outline: 2px dashed var(--color01);
}

/* Estilização do footer*/
footer{
    grid-column: 1/-1;
    padding-bottom: 10px;
}

footer a{
    color: #000;
    text-decoration: none;
    font-size: 1.5em;
}