/* Formatação Geral */
main{
    max-width: 1000px;
    margin: 0 auto;
}

/* Formatando Lista */
.list{
    margin: 0 0 0 10px;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 10px 0 10px 0 ;
}

.list::after{
    content: url('../svg/arrow_drop_down.svg');
    position: relative;
    top: 5px;
}

.active::after{
    content: url('../svg/arrow_drop_up.svg');
    position: relative;
    top: 5px;
}

.list li {
    font-size: 1.3rem;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0 0 0 30px;
}

ul.hidden{
    display: none;
}