/* Formatando Container */
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}


.screw{
    position: absolute;
    border: 1px solid var(--colorHeader);
    border-radius: 50% ;
}

.screw1{
    top: 10px;
    left: 10px;
}

.screw2{
    top: 10px;
    right: 10px;
}

.screw3{
    bottom: 10px;
    right: 10px;
}

.screw4{
    bottom: 10px;
    left: 10px;
}

/* Formatando cantainer-left */
.container-left{
    border: 5px solid #222222;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}

#profile{
    max-width: 300px;
    border: 1px solid var(--colorHeader);
    border-radius: 5px;
}

.container-left h2{
    margin: 10 auto;
    text-align: center;
}

.container-left p{
    text-align: center;
    margin-bottom: 10px;
}

#my-skills{
    border-bottom: 2px solid #222222;
}

/* Formatando tooltip e skills */
.skill img{
    width: 46px;
    height: 46px;
}

.skills{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.skills img{
margin: 5px;
}

.skill{
    position: relative;
    cursor: pointer;
}

.tooltip-text{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); /* Pendente: ver isso */
    background-color: #222222;
    color: #fff;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0; /* Pendente: ver isso */
    transition: opacity 0.5s ease ; /* Pendente: ver isso */
}

.tooltip-text::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #222 #2220 #2220 #2220 ;
}

.skill:hover .tooltip-text{
   top: -50%;
   visibility: visible;
   opacity: 1;
}

/* Formatando cantainer-right */
.container-right{
    border: 5px solid #222222;
    border-radius: 5px;
    padding: 30px;
    position: relative;
    flex: 1 0 300px;
    display: grid;
    align-content: center;
}

.container-right p{
    text-indent: 20px;
    margin-bottom: 20px;
}

.container-right a{
    color: #222;
    text-decoration: none;
}

.container-right a:hover{
    text-decoration: underline;
}


@media only screen and (max-width: 650px){
    .container-right a {
        text-decoration: underline;
    }

    .container-right{
        order: 0;
    }
    
    .container-left{
        order: 1;
    }
    
}