/* Formatando Container */
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    align-items: flex-start;
    
}

.conatiner-box{
    border: 5px solid #222222;
    border-radius: 5px;
    padding: 30px;
    position: relative;
}


.screw{
    position: absolute;
    border: 1px solid var(--colorHeader);
    border-radius: 50% ;
}

.screw1{
    top: 10px;
    left: 10px;
}

.screw2{
    top: 10px;
    right: 10px;
}

.screw3{
    bottom: 10px;
    right: 10px;
}

.screw4{
    bottom: 10px;
    left: 10px;
}

/* Formatando cantainer-1 */
#profile{
    max-width: 300px;
    border: 1px solid var(--colorHeader);
    border-radius: 5px;
}

 #profile-name{
    font-family: var(--fontTitle);
    font-weight: 800;
    color: var(--colorHeader);
    font-size: 24px;
    margin: 0;
 }

.container-1 h2{
    margin: 10px auto 0;
    text-align: center;
    border-bottom: 2px solid #222222;
}

.container-1 p{
    text-align: center;
}

.contacts-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.contacts-list img{
    width: 46px;
    height: 46px;
    margin: 5px;
}


/* Formatando tooltip e skills */
.skill img{
    width: 46px;
    height: 46px;
}

/* list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 10px; */
.skills{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;    
}

.skills img{
margin: 5px;
z-index: 2;
}

.skill{
    position: relative;
}

.tooltip-text{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%); /* Pendente: ver isso */
    background-color: #222222;
    color: #fff;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 5px;
    visibility: hidden;
    z-index: 1;
    opacity: 0; /* Pendente: ver isso */
    transition: opacity 0.5s ease ; /* Pendente: ver isso */
}

.tooltip-text::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: #222 #2220 #2220 #2220 ;
}

.skill:hover .tooltip-text{
   top: -70%;
   visibility: visible;
   opacity: 1;
}

/* Formatando cantainer-2 */
.container-2{
    flex: 1;
    min-width: 300px;
    display: grid;
    align-content: center;
    gap: 20px;
}

.container-2 p{
    text-indent: 20px;
}

.container-2 a:hover{
    text-decoration: underline;
}
/* @media only screen and (max-width: 650px){

    .container-right{
        order: 0;
    }
    
    .container-1{
        order: 1;
    }
    
} */