section.projetos{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}

h2.tituloProjeto{
    grid-column: 1 / -1;
}



/* Estilização Geral */
div.projeto{
    border-radius: 10px;
    background: #f2f2f2;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 5px;
    text-align: center;
}

div.projeto a{
    display: inline-block;
    color: #222222;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 5px auto;
}

img.svg{
    height: 1.5rem; /* Deve ter uma forma melhor de fazer isso */
}

div.projeto:hover{
    background: #ebebeb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

div.projeto a:hover{
    text-decoration: underline;
}

img.capaProjeto{
    width: 100%;
    border-radius: 10px;
}

/* Responsividade em Andamento */
@media  (max-width: 600px) {
    section.projetos{
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media  (max-width: 400px) {
    section.projetos{
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    }
}