article{
    margin-bottom: 10px;

}
.projects{
    display: grid;
    
    gap: 20px;
    justify-items: center;
    align-items: center;
}

.project-type{
    grid-column: 1 / -1;
}

.projects .project{
    width: 250px;
    height: fit-content;
    background-color: rgb(172, 172, 172);

    display: grid;
    align-items: center;
    justify-items: center;
    gap: 0;
    padding: 10px;
    text-align: center;
}

.project a{
    text-decoration: none;
    color: #000;
}

.project .img-container{
    width: 250px;
    height: 300px;
    background-color: rgb(219, 219, 219);
    overflow: clip;
}

.img-container img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.project-name{
    font-size: 1.5em;
    display: block;
    margin: 10px auto 0;
}

.project-name::after{
    content: url(../svg/open_in_new.svg);
}

.project .stacks{
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.stacks img{
    width: 46px;
}

/* Medias Queries */
@media only screen and (min-width: 750px) {
    .projects{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .projects{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 1200px) {
    .projects{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}